main {
    font-family: 'Open Sans Condensed', sans-serif;
}
#topNav {
    display: flex;
    font-size: 35px;
    list-style-type: none;
    background-color: #d1f2eb;
    height: 100px;
    width: 92%;
    margin: auto;
}


#aboutAlyson {
    display: flex;
    font-size: 24px;
    justify-content: normal;
    align-content: normal;
    flex-wrap: wrap;
    align-content: center;
    background-color: #fadbd8;
    margin: auto;
    text-align: center;
    color: #E74C3C;
}

#alysonpic {
    flex-basis: auto;
    border: 5px solid #f9ebea;
    width: 300px;
    height: 300px;
    margin-top: 25px;
}

#portfolio {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: auto;
    width: 92%;
    margin: auto;
    border-bottom: 20px solid white;
}

.card-group {
    background-color: #d1f2eb;
}

#contact {
    display: flex;
    font-size: 35px;
    background-color: #aed6f1;
    height: 100px;
    width: 92%;
    margin: auto;
    border-bottom: 20px solid white;
}



@media screen and (max-width: 768px) {
    #topNav,
    #header,
    #about,
    #portfolio,
    #contact {
        width: 80%;
        align-items: center;
    }
    #topNav {
        width: 80%;        
    }
    li {
        height: 45px;
        width: 130px;
        font-size: 16px;
    }

    #myName {
        font-size: 55px;
    }
    #subheader {
        font-size: 30px;
    }
    #alysonpic {
        height:50%;
        width: 50%;
    }

    #brookspic {
        width: 80%;
    }
    #donutllama {
        width: 80%;
        height: 80%;
    }

  }

  @media screen and (max-width: 480px) {
    #topNav,
    #header,
    #about,
    #portfolio,
    #contact {
        width: 90%;
    }
    li {
        flex-wrap: wrap;
        height: 40px;
        width: 75px;
        font-size:16px;
        text-align: center;
        padding: 5px;
    }

    #myName {
        font-size: 30px;
    }
    #subheader {
        font-size: 20px;
    }
    #alysonpic {
        height:50%;
        width: 50%;
    }
    #aboutPar {
        font-size: 10px;
    }

    #brookspic {
        width: 80%;
    }
    #donutllama {
        width: 80%;
        height: 80%;
    }
  }
